/* 

MEDIA QUERIES BREAKPOINTS TO USE: 
992PX,

768PX,

576PX, 

480PX AND 

375PX

*/

/* 

COLORS:

rgb(255, 255, 255)

hsl(229, 31%, 21%)

hsl(229, 8%, 60%)

hsl(0, 94%, 66%)

hsl(231, 69%, 60%)

*/

/* GENERAL STYLES */
:root {
  --softblue: hsl(231, 69%, 60%);
  --softred: hsl(0, 94%, 66%);
  --darkblue: hsl(229, 31%, 21%);
  --grey: hsl(229, 8%, 60%);
  --light: #f7f7f7;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  font-family: "Rubik";
  color: var(--darkblue);
  margin-bottom: 12rem;
}
img {
  width: 100%;
}
.section {
  max-width: 95%;
  margin: 0 auto;
}
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
/* END GENERAL STYLES */

/* header */
header {
  margin-bottom: 10rem !important;
}
/* nav styling */
nav {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 8rem 5rem 0;
  margin-bottom: 5rem;
}
.nav-logo {
  display: flex;
  align-items: center;
  width: 18rem;
  cursor: pointer;
}

/* toggler */
.toggler {
  display: none;
}

.nav-links a {
  text-decoration: none;
  padding: 0 1.2rem;
  color: var(--darkblue);
  transition: 0.3s ease-in-out;
}
.nav-links a:hover {
  color: var(--softred);
}
.nav-links .nav-active {
  background-color: var(--softred);
  color: var(--light);
  border-radius: 0.5rem;
  padding: 0.6rem 2rem;
  margin-left: 4rem;
}
.nav-active:hover {
  background-color: var(--light);
  box-shadow: inset 0 0 0 0.15rem var(--softred);
}
/* HERO SECTION STYLES */
.hero-section {
  /* max-width: 85%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-context {
  max-width: 40%;
}
.main-h1 {
  font-size: 4.4rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 2.5rem;
}
.main-paragraph {
  font-size: 2rem;
  opacity: 0.8;
  margin-bottom: 2.3rem;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--light);
  background-color: var(--softblue);
  padding: 1.2rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  transition: 0.25s ease-in-out;
}
.hero--btn {
  display: flex;
  gap: 1.5rem;
}
.first--btn:hover {
  background-color: var(--light);
  color: var(--softblue);
  box-shadow: 0 0 0 0.2rem var(--softblue);
}
.second--btn {
  background-color: #f7f7f7;
  color: var(--grey);
  box-shadow: 0 0.3rem 1.2rem var(--grey);
}
.second--btn:hover {
  box-shadow: 0 0 0 0.2rem var(--darkblue);
}
.hero-section-img {
  width: 50%;
}
/* FEATURES SECTION */
.features-section {
  margin-bottom: 15rem;
}
.features-h1 {
  font-size: 3.8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
}
.features-first-paragraph {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
  opacity: 0.9;
}
.features-second-paragraph {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.features-second-paragraph p {
  border-bottom: 0.25rem solid var(--grey);
  padding: 0 3rem 2rem 3rem;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.features-second-paragraph p:hover {
  color: var(--softred);
  border-bottom: 0.25rem solid var(--softred);
}
.active-tab {
  border-bottom: solid 0.25rem var(--softred) !important;
  color: var(--softred);
}

/* features col styles */
.features-2-col {
  max-width: 80%;
  margin: 0 auto;
  gap: 15rem;
}
.features-h2 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 2.8rem;
}
.features-third-paragraph {
  font-size: 2.2rem;
  opacity: 0.8;
  margin-bottom: 3rem;
}
/* DOWNLOAD SECTION STYLES */
.download-context {
  margin: 0 auto;
  max-width: 60%;
  text-align: center;
}
.download-h1 {
  margin-bottom: 1.8rem;
  font-size: 3.2rem;
  font-weight: 500;
}
.download-first-paragraph {
  font-size: 2rem;
  opacity: 0.9;
}
.download-cols {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}
.download-col-1 {
  padding: 5rem 1.2rem 2rem 1.2rem;
  text-align: center;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.1);
}
.second-download {
  margin-top: 8rem;
}
.third-download {
  margin-top: 16rem;
}
.col-download-col-1-img {
  width: 20%;
  margin-bottom: 5rem;
}
.download-h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.download-second-paragraph {
  margin-bottom: 5rem;
}
.dot-img {
  margin-bottom: 3rem;
}
