/* 

MEDIA QUERIES BREAKPOINTS TO USE: 
992PX,

768PX,

576PX, 

480PX AND 

375PX

*/

/* 

COLORS:

rgb(255, 255, 255)

hsl(229, 31%, 21%)

hsl(229, 8%, 60%)

hsl(0, 94%, 66%)

hsl(231, 69%, 60%)

*/

/* GENERAL STYLES */
:root {
  --softblue: hsl(231, 69%, 60%);
  --softred: hsl(0, 94%, 66%);
  --darkblue: hsl(229, 31%, 21%);
  --grey: hsl(229, 8%, 60%);
  --light: #f7f7f7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  font-family: "Rubik";
  color: var(--darkblue);
  margin-bottom: 12rem;
}
img {
  width: 100%;
}
.section {
  max-width: 95%;
  margin: 0 auto;
}
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
/* END GENERAL STYLES */

/* header */
header {
  margin-bottom: 19.2rem !important;
}
/* nav styling */
nav {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  margin-bottom: 5rem;
}
.nav-logo {
  display: flex;
  align-items: center;
  width: 18rem;
  cursor: pointer;
}

/* toggler */
.toggler {
  display: none;
}

.nav-links a {
  text-decoration: none;
  padding: 0 1.2rem;
  color: var(--darkblue);
  transition: 0.3s ease-in-out;
}
.nav-links a:hover {
  color: var(--softred);
}
.nav-links .nav-active {
  background-color: var(--softred);
  color: var(--light);
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  margin-left: 4rem;
}
.nav-active:hover {
  background-color: var(--light);
  box-shadow: inset 0 0 0 0.2rem var(--softred);
}
/* HERO SECTION STYLES */
.hero-section {
  max-width: 95%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  justify-items: start;
  align-items: center;
  gap: 8rem;
}
.main-h1 {
  font-size: 4.4rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 2.5rem;
}
.main-paragraph {
  font-size: 2rem;
  opacity: 0.8;
  margin-bottom: 2.3rem;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--light);
  background-color: var(--softblue);
  padding: 1.2rem 1.2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  transition: 0.25s ease-in-out;
}
.hero--btn {
  display: flex;
  gap: 1.5rem;
}
.first--btn:hover {
  background-color: var(--light);
  color: var(--softblue);
  box-shadow: 0 0 0 0.2rem var(--softblue);
}
.second--btn {
  background-color: #f7f7f7;
  color: var(--grey);
  box-shadow: 0 0.3rem 1.2rem var(--grey);
}
.second--btn:hover {
  box-shadow: 0 0 0 0.2rem var(--darkblue);
}
/* FEATURES SECTION */
.features-h1 {
  font-size: 3.8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
}
.features-first-paragraph {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
  opacity: 0.9;
}
.features-second-paragraph {
  text-align: center;
  margin-bottom: 3rem;
}
.features-second-paragraph a {
  text-decoration: none;
  color: var(--darkblue);
  opacity: 0.9;
  padding: 0 4rem;
  transition: 0.25s ease-in-out;
}
.features-second-paragraph a:hover {
  color: var(--softred);
}
.line {
  margin: 0 auto;
  height: 0.2rem;
  width: 50%;
  background-color: var(--darkblue);
  opacity: 0.6;
  margin-bottom: 8rem;
}
.first-line {
  height: 0.35rem;
  width: 30%;
  background-color: var(--softred);
}
/* features col styles */
.features-2-col {
  gap: 12rem;
}
